*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}


.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(7, 161, 161);
}

.insidenav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  
}