@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    color: white;
    background-color: black;
}

h1{
    font-size: 80px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: underline;
    font-weight: 600;
    white-space: nowrap;
    text-transform: capitalize;
}
